@page
@model InvoiceApp.Pages.Invoices.IndexModel
@{
}

<h2>Invoices</h2>
<a class="btn btn-primary" asp-page="/Invoices/Create">Create New Invoice</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Invoice Number</th>
            <th>Status</th>
            <th>Customer Name</th>
            <th>Total Price</th>
            <th>Issue Date</th>
            <th>Due Date</th>
            <th>Action</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var invoice in Model.invoiceList)
        {
            <tr>
                <td>@invoice.Id</td>
                <td>@invoice.Number</td>
                <td>@invoice.Status</td>
                <td>@invoice.ClientName</td>
                <td>@(invoice.UnitPrice * invoice.Quantity) $</td>
                <td>@invoice.IssueDate</td>
                <td>@invoice.DueDate</td>
                <td style="white-space:nowrap">
                    <a class="btn btn-secondary" asp-page="/Invoices/Details" asp-route-id="@invoice.Id">Details</a>
                    <a class="btn btn-primary" asp-page="/Invoices/Edit" asp-route-id="@invoice.Id">Edit</a>
                    <a class="btn btn-danger" asp-page="/Invoices/Delete" asp-route-id="@invoice.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>